@import "settings";
@import "foundation";

body, html {
  margin: 0;
  padding: 0;
  background-color: #283548;
}

.modal {
  max-width: 1000px;
  max-height: 600px;
}

.grid-content.modal-content {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="text"] {
  margin: 0;
}

h1 {
  font-size: 5em;
    color: #F89406;

}

p {
  color: white;
}

.grid-content {
  padding: 0;
}

li {
  padding-right: 15px;
}

.ui-view {
  background-color: #283548;
}
.grid-block.home{
  height: 100vh;
  background-image: url('./../img/doggy.jpg');
  background-size: cover;
  background-position: 40% 70%;
  & h1, p, h3 {
    color: white;
  }
  & h1.home-title {
    font-size: 6em;
    color: #F89406;
  }
}
.grid-block.main-home {
  padding-left: 20px;;
  padding-right: 20px;;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgba(38, 52, 73, 0.95);
  margin-bottom: 20px;
  & p {
    font-size: 1.4em;
  }
}

.grid-block.main {
  & p {
    font-size: 1em;
  }
}

.info p{
  margin-bottom: 10px;
}
.grid-block.content {
  margin-top: 20px;
}

.grid-block.content-home h1{
  background-color: rgba(255,255,255,0.3);
  padding-left: 40px;
  padding-right:40px;
  border-radius: 10px;
}

.grid-block.profile-pic {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 190px;
    border-radius: 150px;
    background-image: url('./../img/dylan.png');
    background-size: cover;
    background-position: 20px;

}

li.top-link.is-active {
  background-color: #356AC3;
}

.grid-content a.is-active li{
  background-color: #356AC3;
}
.grid-block.about{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.grid-block.fun-finder{
  margin-right: 40px;
  margin-left: 40px;
  height: 100vh;
}


.grid-block.portfolio{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}


.grid-block.galvanize-ping-pong{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.grid-block.lyne-up{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.grid-block.road-trip{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.grid-block.capstone{
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.grid-block.keys {
  margin-bottom: 20px;
}

.grid-block.resources {
    background-color: #3469C1;
    & h2{
      color: white;
    }
}

.grid-block.links {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(38, 52, 73, 0.95);
  margin-left: 300px;
  margin-right: 300px;
}

.grid-block.summary {
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  background-color: rgba(38, 52, 73, 0.95);
  margin-left: 300px;
  margin-right: 300px;
  & p {
    font-size: 1.2em;
  }
}

.grid-block.links a {
  padding-left: 25px;
  padding-right: 25px;
  color: #F89406;
  font-size: 1.2em;
}

.grid-block.links a:hover {
  color: white;
}

.grid-block.title h1 {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
}

.grid-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid-content li {
  background-color: #F89406;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid #356AC3;
  border-right: 2px solid #356AC3;
}

.grid-content li:hover {
  background-color: #356AC3;
}

.grid-block.title {
  background-color: #283548;
  color: white;
}

.grid-block.menu {
  background-color:#283548 ;
}

.grid-block.email {
  margin-bottom: 15px;
  & a {
      font-size: 2.2em;
      color: #356AC3;
  }
  & a:hover {
    color: white;
  }
}


li.top-link {
  border-top: 2px solid #356AC3;
}

.title-bar.primary {
  background-color: #283548;
}

.button {
  background-color: #283548;
}
.button:hover {
  background-color: #356AC3;
}

a.home-link {
  text-align: center;
  & h3{
      background-color: #F89406;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.2em;
      border-right: 2px solid #356AC3;
      color: #356AC3;
      background-color: white;
      margin-bottom: 0;
    }
}

a.home-link {
  & h3:hover{
  background-color: #356AC3;
  color: white;
  }
}

a.button.contact {
  background-color: #356AC3;
  &:hover {
    background-color: white;
    color: #356AC3;
  }
}

a.button.portfolio {
  margin-bottom: 0;
  background-color: #356AC3;
  &:hover {
    background-color: #F89406;
  }
}

.grid-block.portfolio-app {
  height: 280px;
  background-image: url('./../img/portfolio.png');
  background-size: cover;
  margin-bottom: 10px;
  border: 2px solid orange;
}

.grid-block.lyneup-app {
  height: 280px;
  background-image: url('./../img/lyne-up.png');
  background-size: cover;
  margin-bottom: 10px;
  border: 2px solid orange;

}

.grid-block.roadtrip-app {
  height: 280px;
  background-image: url('./../img/roadtrip.png');
  background-size: cover;
  margin-bottom: 10px;
  border: 2px solid orange;

}

.grid-block.pingpong-app {
  height: 280px;
  background-image: url('./../img/ping-pong.png');
  background-size: cover;
  margin-bottom: 10px;
  border: 2px solid orange;

}

.grid-block.funfinder-app {
  height: 280px;
  background-image: url('./../img/fun-finder.png');
  background-size: cover;
  margin-bottom: 10px;
  border: 2px solid orange;

}

.items p{
  color: white;
}
