@import "settings";
@import "foundation";

body, html {
  margin: 0;
  padding: 0;
}
.grid-content {
  padding: 0;
}

.grid-block.home{
  height: 100vh;
  background-image: url('./../img/night.png');
  background-size: cover;
  & h1, p, h3 {
    color: white;
  }
  & h1.home-title {
    font-size: 5em;
  }
}
.grid-block.main-home {
  padding-left: 40px;
  padding-right: 40px;
  & p {
    font-size: 1.4em;
  }
}

.grid-block.main {
  padding-left: 40px;
  padding-right: 40px;
  & p {
    font-size: 1.2em;
  }
}

.grid-block.content {
  margin-top: 20px;
}

li.top-link.is-active {
  background-color: #F89406;
}

.grid-content a.is-active li{
  background-color: #F89406;
}
.grid-block.about{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}

.grid-block.fun-finder{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}


.grid-block.portfolio{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}

.grid-block.capstone{
  height: 100vh;
  & h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
}

.grid-block.galvanize-ping-pong{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}

.grid-block.lyne-up{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}

.grid-block.resume{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
}

.grid-block.links {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.35);
  margin-left: 300px;
  margin-right: 300px;
}
.grid-block.links a {
  padding-left: 25px;
  padding-right: 25px;
  color: #F89406;
  font-size: 1.2em;
}

.grid-block.links a:hover {
  color: white;
}

.grid-block.title h1 {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
}

.grid-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid-content li {
  background-color: #283548;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid #356AC3;
}

.grid-content li:hover {
  background-color: #356AC3;
}

.grid-block.title {
  background-color: #283548;
  color: white;
}

.grid-block.menu {
  background-color:#283548 ;
}

li.top-link {
  border-top: 2px solid #356AC3;
}

.title-bar.primary {
  background-color: #283548;
}

.button {
  background-color: #283548;
}
.button:hover {
  background-color: #356AC3;
}

a.button.contact {
  background-color: #356AC3;
  &:hover {
    background-color: white;
    color: #356AC3;
  }
}

a.button.portfolio {
  background-color: #356AC3;
  &:hover {
    background-color: #F89406;
  }
}

.grid-block.portfolio-app {
  height: 300px;
  background-image: url('./../img/portfolio.png');
  background-size: cover;
}

.grid-block.lyneup-app {
  height: 300px;
  background-image: url('./../img/lyne-up.png');
  background-size: cover;
}

.grid-block.pingpong-app {
  height: 300px;
  background-image: url('./../img/ping-pong.png');
  background-size: cover;
}

.grid-block.funfinder-app {
  height: 300px;
  background-image: url('./../img/fun-finder.png');
  background-size: cover;
}

.items p{
  color: green;
}
