---
name: home
url: /
animationIn: slideInRight easeIn
---

<div class="grid-block home vertical">
  <div class="align-center grid-block content-home shrink">
    <h1 class="home-title">Dylan <span>Zincone</span></h1>
  </div>
  <div class="grid-block vertical shrink">
    <div class="text-center grid-block main-home shrink">
      <p> My name is Dylan, and I am a man with a plan. I currently live in Colorado Springs, and travel up to Denver to learn from the wonderful people at Galvanize Full Stack. I am a developer with a desire to learn and a passion for doing it.
        Continual growth in life is important to me, and what better way to do that than being a developer where the information is constantly and vastly being changed. I am interested in designing and building web applications through initial stages of brainstorming, to design, to actual implementation for the best possible user experience.
      </p>
    </div>
    <div class="align-spaced grid-block links horizontal shrink">
      <a href="http://github.com/dzincone" target="_blank"><i class="fa fa-github"></i> Github</a>
      <a href="https://www.linkedin.com/in/dylanzincone" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
      <a href="#"><i class="fa fa-university" target="_blank"></i> Galvanize</a>
    </div>
  </div>
</div>
